#!/bin/bash

sudo apt-get update 
#TODO: root user name and password. Insecure?
export MYSQL_PWD='${db_root_password}'

#prepopulate debconf database with answers to questions.
echo "mysql-server mysql-server/root_password password $MYSQL_PWD" | sudo debconf-set-selections
echo "mysql-server mysql-server/root_password_again password $MYSQL_PWD" | sudo debconf-set-selections

sudo apt-get -y install mysql-server

sudo service mysql start

echo "CREATE DATABASE ${db_name};" | mysql -u root

echo "CREATE USER '${db_user_username}'@'%' IDENTIFIED BY '${db_user_password}';" | mysql -u root

echo "GRANT ALL PRIVILEGES ON ${db_name}.* TO '${db_user_username}'@'%';" | mysql -u root

#Changing mysql config so that it listens on the static private ip
sudo sed -i'' -e '/bind-address/s/127.0.0.1/${db_server_ip}/' /etc/mysql/mysql.conf.d/mysqld.cnf

#Affect changes.
sudo service mysql restart

export MYSQL_PWD='${db_user_password}'

#provision database
cat ~/db/setup-database.sql | mysql -u ${db_user_username} ${db_name}

#create testuser with password 
wget -O /dev/null --post-data="username=testuser&password=testuser&confirm_password=testuser" ${web_server_ip}:80/register.php

# and add words to account.
cat ~/db/test-populate.sql | mysql -u ${db_user_username} ${db_name}