#!/bin/bash

sudo apt-get update

#TODO: root user name and password. Insecure?
export MYSQL_PWD='insecure_mysqlroot_pw'

#prepopulate debconf database with answers to questions.
echo "mysql-server mysql-server/root_password password $MYSQL_PWD" | sudo debconf-set-selections
echo "mysql-server mysql-server/root_password_again password $MYSQL_PWD" | sudo debconf-set-selections

sudo apt-get -y install mysql-server

sudo service mysql start

echo "CREATE DATABASE test;" | mysql -u root

echo "CREATE USER 'webuser'@'%' IDENTIFIED BY 'aaftwup123!';" | mysql -u root

echo "GRANT ALL PRIVILEGES ON test.* TO 'webuser'@'%';" | mysql -u root

#Changing mysql config so that it listens on the static private ip
sudo sed -i'' -e '/bind-address/s/127.0.0.1/${db_server_ip}/' /etc/mysql/mysql.conf.d/mysqld.cnf

#Affect changes.
sudo service mysql restart

export MYSQL_PWD='aaftwup123!'
#provision database
cat ~/db/setup-database.sql | mysql -u webuser test

#create testuser with password 
wget -O /dev/null --post-data="username=testuser&password=testuser&confirm_password=testuser" ${web_server_ip}:80/register.php

# and add words to account.
cat ~/db/test-populate.sql | mysql -u webuser test

# Download and install aws cli for s3 bucket usage.
sudo apt-get install unzip

curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
unzip awscliv2.zip
sudo ./aws/install

#Create credentials directory ready to recieve credentials
mkdir ~/.aws

#Create metrics update script to be ran on a regular interval.
cat << EOF > update_metrics.sh
#! /bin/bash
cd /home/ubuntu
export MYSQL_PWD='aaftwup123!'
echo "SELECT COUNT(*) FROM users" | mysql -u webuser test | tail -n +2 > out_temp.txt
aws s3 cp out_temp.txt s3://${metrics_bucket}/number.txt
EOF

sudo chmod 776 update_metrics.sh

echo "* * */1 * * ubuntu /home/ubuntu/update_metrics.sh" | sudo tee -a /etc/crontab