#!/bin/bash

sudo apt-get update
sudo apt-get install -y apache2 libapache2-mod-php php php-mysql

sudo mv webserver/website.conf /etc/apache2/sites-available/
sudo mv webserver/chinese-tool-site /var/www/
rm webserver


#Store hostname of database and api as variables that the apache2 service will get, so they can be accessed in PHP scripts.
sudo mkdir /etc/systemd/system/apache2.service.d

echo "[Service]" | sudo tee -a /etc/systemd/system/apache2.service.d/override.conf > /dev/null
echo "Environment='DB_NAME=${db_name}'" | sudo tee -a /etc/systemd/system/apache2.service.d/override.conf > /dev/null
echo "Environment='DB_HOSTNAME=${db_server_ip}'" | sudo tee -a /etc/systemd/system/apache2.service.d/override.conf > /dev/null
echo "Environment='API_HOSTNAME=${api_server_ip}'" | sudo tee -a /etc/systemd/system/apache2.service.d/override.conf > /dev/null
echo "Environment='DB_USERNAME=${db_username}'" | sudo tee -a /etc/systemd/system/apache2.service.d/override.conf > /dev/null
echo "Environment='DB_PASSWORD=${db_password}'" | sudo tee -a /etc/systemd/system/apache2.service.d/override.conf > /dev/null

sudo systemctl daemon-reload

#Enable website
sudo a2ensite website
sudo a2dissite 000-default
sudo service apache2 restart

