html {
    --font-scale:0.5;
    margin: 1vw 1vw;
}

body {
    margin: 1vw 1vw;
}

div {
    padding: 2vw;
}

html * {
    font-family: sans-serif;
    font-size: calc(var(--font-scale) * 4vw);
}

h1 {
    font-size: calc(var(--font-scale) * 10vw);
}

h2 {
    font-size: calc(var(--font-scale) * 9vw);
}


h3 {
    font-size: calc(var(--font-scale) * 8vw);
}


h4 {
    font-size: calc(var(--font-scale) * 7vw);
}

h5 {
    font-size: calc(var(--font-scale) * 6vw);
}

h6 {
    font-size: calc(var(--font-scale) * 5vw);
}

form {
    font-size: 2.5vw;
    width: 30vw;
}

input[type="text"], input[type="password"] {
    width: 95%;
    font-size: 3.2vw;
}

input#auto-fill-button {
    font-size: calc(var(--font-scale) * 3vw)
}

lable {
    padding-block: 3px;
    padding-inline: 6px;
}

input[type="submit"] {
    width: 20vw;
    height: 5vw;
    font-size: 2.0vw;
    margin: 3.0vw 0px;
}

form div {
    padding: 0.5vw 0.5vw;
}

input.test-me-text-box {
    width:50vw;
}

.error {
    color:red;
}

.success {
    color:green;
}

div.wrong-answer {
    background-color: lightcoral;
}

div.right-answer {
    background-color: lightgreen;
}

div#top-bar * {
    margin:0;
    padding: 0px;
    
}

div#content-area > div {
    margin-top: 5px;
    margin-bottom: 5px;
}

